@model Registration.Models.User
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href= "../../UI/css/main.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
<script type="text/javascript" src="../../UI/scripts/request.js"></script>
<link rel="stylesheet" type="text/css" href="../../UI/css/main.css" />
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
<h2>@ViewData["first_name"]</h2>
<div class="login">
@using (Html.BeginForm("WatchDB", "Home"))
    {
        @Html.LabelFor(u => u.Name)
        @Html.TextBoxFor(u => u.Name)
        @Html.LabelFor(u => u.Password)
        @Html.TextBoxFor(u => u.Password)
        <input type="submit" />
    }
</div>